.body { 
}

.header { 
    position: absolute;
width: 1440px;
height: 134px;
left: 0px;
top: 0px;

background: #EDF2EC;
}

.navbar-wrap
 {
    display: flex;
    align-items: center;  
    width: 1440px;
    height: 134px;    
    background-color: #EDF2EC; 
}
 


.nav {
    display: flex;   
    margin-left: 500px;
}
 
.logo_text {
    position: absolute;
width: 58.13px;
height: 17px;
left: 132.05px;
top: 56.04px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #000000;
}

.logo_vector {
    position: absolute;
width: 20px;
height: 20px;
left: 111px;
top: 52px;
}

.home {
    position: absolute;
height: 50px;
left: 61.04%;
right: 35.9%;
top: 42px;

font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
color: #E06733;
}


.aboutus {
    position: absolute;
height: 50px;
left: 67.29%;
right: 28.06%;
top: 42px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
color: #010201;
}


.nav_service {
    position: absolute;
height: 50px;
left: 75.14%;
right: 21.04%;
top: 42px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
color: #010201;
}

.nav_price {
    position: absolute;
height: 50px;
left: 82.15%;
right: 15.21%;
top: 42px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
color: #010201;
}


.nav_contacts {
    position: absolute;
height: 50px;
left: 87.99%;
right: 7.57%;
top: 42px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
/* identical to box height, or 312% */
color: #010201;
}


.welcome {
    position: absolute;
width: 1440px;
height: 532px;
left: 0px;
top: 134px;

background: #EDF2EC; 
}
 
.leafs {
    position: absolute;
width: 448.8px;
height: 407.36px;
left: 109px;
top: 62px;
}

.we_grow {
    position: absolute;
width: 549px;
height: 101px;
left: 782px;
top: 98px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 50px;
/* or 111% */

color: #717171;
}

.lorem {
    position: absolute;
width: 525.44px;
height: 105px;
left: 782px;
top: 241px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
/* or 175% */

color: #636060;
}


.learn {
    position: absolute;
width: 104px;
height: 16px;
left: 809px;
top: 408px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}


.button_start {
    box-sizing: border-box;

position: absolute;
width: 158px;
height: 44px;
left: 782px;
top: 394px;

border: 2px solid #E06733;
border-radius: 10px;
}


.about {
    position: absolute;
width: 1440px;
height: 666px;
left: 0px;
top: 666px;

background: #FFFFFF; 
}

.houseplant {
    position: absolute;
width: 464px;
height: 479px;
left: 867px;
top: 93px;
}

.gardeners {
    position: absolute;
width: 463px;
height: 102px;
left: 109px;
top: 161px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #499A18;
}


.lorem_2 {
    position: absolute;
width: 605px;
height: 208px;
left: 109px;
top: 303px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */


color: #636060;
}


.service {
    position: absolute;
width: 1440px;
height: 1300px;
left: 0px;
top: 1332px;

background: #EDF2EC; 
}

.service1 {
    position: absolute;
width: 306px;
height: 94px;
left: 109px;
top: 40px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #499A18;
}

.s_btn1 {
    box-sizing: border-box;

position: absolute;
width: 161px;
height: 50px;
left: 557px;
top: 69px;

border: 1px solid #E06733;
border-radius: 5px;
}

.gardens {  

    position: absolute;
    width: 81px;
    height: 26px;
    left: 597px;
    top: 81px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    
    
    color: #E06733;
}

.s_btn2 {
    box-sizing: border-box;

position: absolute;
width: 161px;
height: 50px;
left: 756px;
top: 69px;

border: 1px solid #E06733;
border-radius: 5px;
}

.lawn {
    position: absolute;
width: 53px;
height: 26px;
left: 810px;
top: 81px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* identical to box height */


color: #E06733;
}

.s_btn3 {
    box-sizing: border-box;

position: absolute;
width: 161px;
height: 50px;
left: 955px;
top: 69px;

border: 1px solid #E06733;
border-radius: 5px;
}


.planting {
    position: absolute;
width: 81px;
height: 26px;
left: 995px;
top: 81px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* identical to box height */

color: #E06733;
}


.photo_1 {
    position: absolute;
width: 329px;
height: 350px;
left: 110px;
top: 224px;

background: url(../img/1.jpg); 
border-radius: 20px 20px 0px 0px;
}


.photo_2 {
    position: absolute;
width: 329px;
height: 350px;
left: 556px;
top: 224px;

background: url(../img/2.jpg);
border-radius: 20px 20px 0px 0px;
}

.photo_3 {
    position: absolute;
width: 329px;
height: 350px;
left: 1002px;
top: 224px;

background: url(../img/3.jpg);
border-radius: 20px 20px 0px 0px;
}


.photo_4 {
    position: absolute;
width: 329px;
height: 350px;
left: 110px;
top: 729px;

background: url(../img/4.jpg);
border-radius: 20px 20px 0px 0px;
}


.photo_5 {
    position: absolute;
width: 329px;
height: 350px;
left: 556px;
top: 729px;

background: url(../img/5.jpg);
border-radius: 20px 20px 0px 0px;
}


.photo_6 {
    position: absolute;
width: 329px;
height: 350px;
left: 1002px;
top: 729px;

background: url(../img/6.jpg);
border-radius: 20px 20px 0px 0px;
}


.name_1 {
    position: absolute;
width: 120px;
height: 24px;
left: 214px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */


color: #E06733;
}


.description_1 {
    position: absolute;
width: 267.19px;
height: 20px;
left: 139.91px;
top: 618px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #717171;
}


.rectangle_1 {
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 100px;
left: 109px;
top: 574px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}


.name_2 {
    position: absolute;
width: 90px;
height: 24px;
left: 676px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

text-align: center;

color: #E06733;
}

.description_2 {
    position: absolute;
width: 267.19px;
height: 20px;
left: 585.91px;
top: 618px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #717171;
}


.rectangle_2 {
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 100px;
left: 555px;
top: 574px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}
 

.name_3 {
    position: absolute;
width: 104px;
height: 24px;
left: 1114px;
top: 584px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */


color: #E06733;
}


.description_3 {
    position: absolute;
width: 267.19px;
height: 20px;
left: 1031.91px;
top: 618px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #717171;
}


.rectangle_3 {
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 100px;
left: 1001px;
top: 574px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}

.name_4 {
    position: absolute;
width: 90px;
height: 24px;
left: 229px;
top: 1089px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
/* or 100% */

text-align: center;

color: #E06733;
}

.description_4 {
    position: absolute;
width: 267.19px;
height: 20px;
left: 139.91px;
top: 1123px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #717171;
}

.rectangle_4 {
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 100px;
left: 109px;
top: 1079px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}


.name_5 {position: absolute;
    width: 120px;
    height: 24px;
    left: 660px;
    top: 1089px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    
    text-align: center;
    
    color: #E06733;}


.description_5 {position: absolute;
    width: 267.19px;
    height: 20px;
    left: 585.91px;
    top: 1123px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    
    
    color: #717171;}


.rectangle_5 {box-sizing: border-box;

    position: absolute;
    width: 330px;
    height: 100px;
    left: 555px;
    top: 1079px;
    
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;}



.name_6 {position: absolute;
    width: 90px;
    height: 24px;
    left: 1121px;
    top: 1089px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    
    text-align: center;
    
    color: #E06733;}


.description_6 {
    position: absolute;
width: 267.19px;
height: 20px;
left: 1031.91px;
top: 1123px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #717171;
}


.rectangle_6 {
    box-sizing: border-box;

position: absolute;
width: 330px;
height: 100px;
left: 1001px;
top: 1079px;

border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}



.prices {
    position: absolute;
width: 1440px;
height: 560px;
left: 0px;
top: 2630px;

background: #FFFFFF; 
}

.price_1 {position: absolute;
    width: 135px;
    height: 49px;
    left: 109px;
    top: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;}


.price_2{
    /* Our best gardeners are ready to help you */


position: absolute;
width: 452px;
height: 103px;
left: 879px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* or 125% */

text-align: right;

color: #000000;

}


.price_3 {
    /* Contact us */


position: absolute;
width: 98px;
height: 26px;
left: 1199.04px;
top: 193.01px;

font-family: 'Inika';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-align: center;

color: #E06733;
}



.contacts {
    position: absolute;
width: 1440px;
height: 550px;
left: 0px;
top: 3190px;

background: #EDF2EC;
border: 1px solid black;
}


.footer {
    position: absolute;
width: 1440px;
height: 130px;
left: 0px;
top: 3740px;

background: #FFFFFF;  
    border: 1px solid black;
}


@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


@font-face {
    font-family: 'Inika';
    src: local('Inika Regular'), local('Inika-Regular'),
        url('../fonts/Inika.woff2') format('woff2'),
        url('../fonts/Inika.woff') format('woff'),
        url('../fonts/Inika.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


  @font-face {
    font-family: 'Inika';
    src: local('Inika Bold'), local('Inika-Bold'),
        url('../fonts/Inika-Bold.woff2') format('woff2'),
        url('../fonts/Inika-Bold.woff') format('woff'),
        url('../fonts/Inika-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }


@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }